<html lang="ru">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>test task</title>
<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
<link rel="stylesheet" href="style.css">
<link rel="stylesheet" href="components/header/header.css">
<link rel="stylesheet" href="components/slider/slider.css">
<link rel="stylesheet" href="components/vueblock/vueBlock.css">
<link rel="stylesheet" href="components/footer/footer.css">
</head>
<body>
  <div id="app">
    <div class="menu">
      <img src="images/logo.png" class="menu__logo" />
      <div class="menu__header-content">
        <input type="text" placeholder="">
        <div class="menu__submenu">
          <ul class="submenu__list">
            <li class="submenu__item"><a href="#">1st Menu</a>
              <div class="dropdown-menu">
                <div class="dropdown-menu-item"><a href="#">Subitem 1</a></div>
                <div class="dropdown-menu-item"><a href="#">Subitem 2</a></div>
              </div>
            </li>
            <li class="submenu__item"><a href="#">2nd Menu</a>
              <div class="dropdown-menu">
                <div class="dropdown-menu-item"><a href="#">Subitem 1</a></div>
                <div class="dropdown-menu-item"><a href="#">Subitem 2</a></div>
              </div></li>
            <li class="submenu__item"><a href="#">3d Menu</a>
              <div class="dropdown-menu">
                <div class="dropdown-menu-item"><a href="#">Subitem 1</a></div>
                <div class="dropdown-menu-item"><a href="#">Subitem 2</a></div>
              </div></li>
          </ul>
        </div>
      </div>
      <img src="images/hamburger.png" class="submenu__ham"/>
    </div>
     <div class="slider__container">
      <div class=slider>
        <img src="https://masyamba.ru/мотоспорт/80-мотоспорт-фото.jpg" class="slider__photo active" />
        <img src="https://user72902.clients-cdnnow.ru/localStorage/news/a1/7f/4d/72/a17f4d72.jpg" class="slider__photo"/>
        <img src="https://only-game.ru/wp-content/uploads/9/d/0/9d0f181ef92767f3d0cf4d93ea205935.jpeg" class="slider__photo"/>
        <img src="https://masyamba.ru/мотоспорт/80-мотоспорт-фото.jpg" class="slider__photo active" />
        <img src="https://user72902.clients-cdnnow.ru/localStorage/news/a1/7f/4d/72/a17f4d72.jpg" class="slider__photo"/>
        <img src="https://only-game.ru/wp-content/uploads/9/d/0/9d0f181ef92767f3d0cf4d93ea205935.jpeg" class="slider__photo"/>
        <div class="button">
          <button class="button__next" onclick="buttonHandler()">Next</button>
        </div>
      </div>
    </div>
    <div class="vue__block" id="vue__block">
      <div class="vue__block_sort">
        <form class="form__sort">
          <input 
          type="text"
          v-bind:placeholder="placeHolder" 
          v-bind:value="inputValue" 
          v-on:input="inputHandler"
          >
          <input type="button" v-on:click="sortHandler" value='Отсортировать'>
          
        </form>
        
        <div class="sort__result" v-if="seen">
          <select id="select">
            <option 
            v-for="word in words" 
            v-bind:value='word'>{{word}}
            </option>
          </select>
        </div>
      </div>
      <div class="vue__block_checkbox">
        <form class="form__checkbox">
          <input type="checkbox" id="number5" value=5 v-model.number="checkedNumbers">
<label for="number5">5</label>
<input type="checkbox" id="number8" value=8 v-model.number="checkedNumbers">
<label for="number8">8</label>
          <input type="checkbox" id="number12" value=12 v-model.number="checkedNumbers">
<label for="number12">12</label>
          <input type="checkbox" id="number15" value=15 v-model.number="checkedNumbers">
<label for="number15">15</label>
          <input type="checkbox" id="number22" value=22 v-model.number="checkedNumbers">
<label for="number22">22</label>
        </form>
        <h1 class="checkbox__result">Результат:{{resultHandler()}}</h1>
      </div>
    </div>
    <div class="footer">
      <div class="footer__content">
        <h1 class="footer__text">Text 1</h1>
      </div>
      <div class="footer__content">
        <h1 class="footer__text">Text 2</h1>
      </div>
      <div class="footer__content">
        <h1 class="footer__text">Text 3</h1>
      </div>
    </div>
  </div>
  <script src="https://unpkg.com/vue@next"></script>
  <script src="components/vueblock/vueBlock.js"></script>
  <script src="components/header/header.js"></script>
  <script src="components/slider/slider.js"></script>
</body>
</html>
