.footer {
  width:100%;
  background-color: grey;
  height:100px;
  display:flex;
  justify-content:space-between;
  
}
.footer__content{
  padding: 10px 20px 20px 0;
}
@media screen and (max-width:450px) {
  .footer {
    flex-direction: column;
    height:30%;
    align-items:center;
  }
}

@media screen and (max-width:950px) {
  .footer {
    flex-direction: column;
    height:27%;
    align-items:center;
  }
}